body {
    font-family: "Courier Prime";
    font-size: 18px;
    background: #303030;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #FFFFFF;
}

#content {
    float: left;
    margin-top: 0;
    color: #EAEAEA;
}

#content a:not(.TitleLink) {
    font-weight: 100;
    color: #8BBAD6;
}

#content h1, h2, h3 {
    color: #a7a7a7;
    text-align: center;
}

body {
    background: #202026;
    transform: scale(1.05);
}

#content {
    font-family: "Open Sans", sans-serif;
}

#content {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    float: none
}

#content h1 {
    font-size: 48px;
    font-family: Montserrat;
    margin-top: 48px;
    margin-bottom: 0px;
    color: #408F00;
}

#content p {
    font-size: 16px;
    margin: 16px 100px;
    text-align: justify;
    max-width: 1250px;
}

#content ul {
    font-size: 16px;
    margin: 16px 100px;
    text-align: justify
}

#content hr {
    font-size: 16px;
    margin: 16px 100px;
}

#content #buyethereal {
    font-size: 32px;
    font-family: Montserrat;
    font-weight: bold;
    display: block;
    border-radius: 8px;
    color: black;
    background: #408F00;
    text-align: center;
    margin-top: 20px;
    line-height: 64px;
    border-color: black;
    margin: 0px 100px;
}
