{% load mytags %}
<td><a href="/user/{{test.author}}">{{test.author|capfirst|slice:":6"}}</a></td>
<td>{{test.dev_engine}}</td>
<td>
    <a href="{{test|workload_url}}">{{test|prettyDevName}}</a>
    {% if test.error %} <span class="flag flag-error" title="Crash or illegal move">*</span> {% endif %}
    {% if test|test_is_fischer %} <span class="flag flag-fischer" title="Fischer random chess">*</span> {% endif %}
</td>
<td class="textcenter"><a href="{{test|gitDiffLink}}">diff</a></td>
<td>
    {{test.dev_time_control}}
    {% if test|test_is_time_odds %} <span class="flag flag-time-odds" title="Time odds">*</span> {% endif %}
    {% if test|test_is_smp_odds %} <span class="flag flag-smp-odds" title="Thread odds">*</span> {% endif %}
</td>
<td class="statblock-cell"><div class="statblock statblock-{{test|testResultColour}}">{{test|shortStatBlock|linebreaksbr}}</div></td>
<td class="test-info"><div>{{test.info}}</div></td>
