{% extends "OpenBench/base.html" %}

{% load mytags %}

{% block content %}

    <div class="table-wrap">
    <table class="hoverable">

        <tr class="table-header">
            <th>Date</th>
            <th>User</th>
            <th>Test</th>
            <th>TC</th>
            <th>Summary</th>
        </tr>

        {% for event in events %}
            <tr>
                <td class="timestamp muted">{{event.created|date:'U'}}</td>
                <td>{{event.author|capfirst}}</td>
                <td>{% if event.workload %}<a href="{{event.workload|workload_url}}">{{event.workload.dev.name|prettyName}}</a>{% endif %}</td>
                <td class="mono">{{event.workload.dev_time_control}}</td>
                <td>{{event.summary}}</td>
            </tr>
        {% endfor %}

    </table>
    </div>

    {% include "OpenBench/Blocks/pagebrowser.html" %}

{% endblock %}
