{% extends "OpenBench/base.html" %}

{% block title %}Register · OpenBench{% endblock %}

{% block heading %}Register{% endblock %}

{% block content %}

    <form id="registerForm" method="POST" action="/register/">
        {% csrf_token %}
        <div class="form">
            <div class="col">
                <div class="row">
                    <label for="register-username">Username</label><input id="register-username" name="username" autocomplete="username">
                </div>
                <div class="row">
                    <label for="register-password1">Password</label><input id="register-password1" type="password" name="password1" autocomplete="new-password">
                </div>
                <div class="row">
                    <label for="register-password2">Confirm Password</label><input id="register-password2" type="password" name="password2" autocomplete="new-password">
                </div>
                <div class="row">
                    <label for="register-email">Email</label><input id="register-email" name="email" type="email" autocomplete="email">
                </div>
                <input class="anchorbutton btn-blue w-100" type="submit" name="submit" value="Create User">
            </div>
        </div>
    </form>

{% endblock %}
